{% extends "newsfeed_template/newsfeed_template.html" %}


{% block title %}
JavaScript Coding Challenge
{% endblock %}
{% block contentSection_left_content%}
    <h3>Search IKEA</h3>  
    <div class="single_post_content">
        <div class="table-responsive spost_nav">
        <!--Table-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 23%" scope="col" >Image</th>
                    <th style="width: 10%" scope="col">Name</th>
                    <th style="width: 10%" scope="col">Category</th>
                    <th style="width: 50%" scope="col">Description</th>
                    <th style="width: 5%" cope="col">Price</th>
                </tr>
                </thead>
            <tbody id="table_content">
            </tbody>
            </table>
        </div>
    </div>

{% endblock %}


{% block contentSection_right_content %}
        <div class="right_content">
          <div id = "search_fields" class="single_sidebar">
            <h2><span>SEARCH</span></h2>
            <form action="#" method="POST">
            <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">A keyword</label>
                <div class="col-md-6">
                    <input type="text" id="keyword" class="form-control" name="keyword" placeholder="cheese" required autofocus>
                </div>
            </div>

            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Result numbers</label>
                <div class="col-md-6">
                    <select class="form-control" id="hitsPerPage">
                    </select>
                </div>
            </div>
          </form>
   
          </div>
        </div>    
{% endblock %}



{% block script %}


<script src="{{ url_for('static', filename='assets/js/search_page.js') }}"></script>

{% endblock %}